@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Hierarchy.Unit.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new OnlineMonitoringWeb.Hierarchy.UnitGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>